body
{
    background: white;
}

/*  ШРИФТЫ  */
@font-face {
    font-family: 'SF Pro Display Ultralight';
    src: local('SF Pro Display Ultralight'), local('SF-Pro-Display-Ultralight'),
    url('/fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Light';
    src: local('SF Pro Display Light'), local('SF-Pro-Display-Light'),
    url('/fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Medium';
    src: local('SF Pro Display Medium'), local('SF-Pro-Display-Medium'),
    url('/fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Bold';
    src: local('SF Pro Display Bold'), local('SF-Pro-Display-Bold'),
    url('/fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display Black';
    src: local('SF Pro Display Black'), local('SF-Pro-Display-Black'),
    url('/fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

.sf-ultralight
{
    font-family: "SF Pro Display Ultralight";
}
.sf-light
{
    font-family: "SF Pro Display Light";
}
.sf-medium
{
    font-family: "SF Pro Display Medium";
}
.sf-bold
{
    font-family: "SF Pro Display Bold";
}
.sf-black
{
    font-family: "SF Pro Display Black";
}




/*  КОНЕЦ ШРИФТОВ  */

/* Меню */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: -300px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color:white;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* КОНЕЦ МЕНЮ */



/*  ГЛАВНАЯ СТРАНИЦА  */
.btn-tp-border
{
    transition: 0.5s;
}
.btn-bt-border
{
    transition: 0.5s;
}
.moore {
    color:white
}
.moore:hover {
    transition: 3s;
    color: #250754;
    background: #fefefe;
}
.btn-effect:hover .btn-tp-border
{
    width:100px!important;
}
.btn-effect:hover .btn-bt-border
{
    width:100px!important;
}
.btn-effect:hover .moore
{
    transition: 0.5s;
    font-size: 16px!important;
}

.vector-effect
{
    transition: 0.5s;
}
.vector-text
{
    transition: 0.5s;
}
.vector-border
{
    transition: 0.5s;
}
.vector-effect:hover .vector-image
{
    display: none;
}
.vector-effect:hover .vector-border
{
    width: 180px!important;
}
.vector-effect
{
    width: 190px!important;
}
.vector-effect:hover .vector-text
{
    font-size: 18px!important;
}

.portfolio
{
    transition: 0.5s;
}
.portfolio:hover
{
    opacity: 0.5!important;
}
.mobile-trans
{
    animation: mobiletrans 15s infinite;
}

.main-trans
{
    animation: trans 15s infinite;
}
.plus {
    animation: 5s linear 0s normal none infinite running plus;
    -webkit-animation: 5s linear 0s normal none infinite running plus;
}
.opacity-5
{
    opacity: 0.5;
}
.ics
{
    transition: 0.5s;
}
.ics:hover p
{
    opacity: 1!important;
    color: rgba(128, 40, 236, 0.71) !important;
}
.first-block
{
    /*background: radial-gradient(1248.58px at 73.39% 37.87%, #1D0046 0%, #0F0F0F 100%, #070012 100%);*/
    background: linear-gradient(-45deg, #210c40, #111112, #1e0b38);
    /*background: radial-gradient(61.25% 196.61% at 73.39% 37.87%, #111112 0%, #0F0F0F 100%, #000000 100%);*/
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    /*background-size: 100% 100%;*/
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
.obvod {
    text-shadow: -1px -1px 0 #0c0c0c, 1px -1px 0 #0c0c0c, -1px 1px 0 #0c0c0c, 1px 1px 0 #0c0c0c;
    color: #ffffff;
    letter-spacing: 3px;
}
.obvod-wh {
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    color: #000000;
    letter-spacing: 3px;
}
.menuse.solid-nav {
    background-color: #101010!important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menuse
{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*  КОНЕЦ ГЛАВНОЙ СТРАНИЦЫ */
/* ПОРТФОЛИО */
.port-first
{
    background: radial-gradient(1248.58px at 73.39% 37.87%, #1D0046 0%, #0F0F0F 100%, #070012 100%);
    background-size: 100% 100%;
}
.port-trans
{
    animation: mobiletrans 15s infinite;
}
.lg-menu
{
    display: block;
}
.other-menu
{
    display: none;
}
.client-collumn
{
    width:12.5%;
}
/*  КОНЕЦ ПОРТФОЛИО */
/* Media */
@media only screen and (max-width: 1100px)
{
    .lg-menu
    {
        display:none;
    }
    .other-menu
    {
        display:block;
    }
    .logo{
        font-size: 25px!important;
    }
}
@media only screen and (max-width: 700px){
    .client-collumn
    {
        width:25%;
    }
    .port-first
    {
        height: 60vh!important;

    }
    .port-main-text
    {
        font-size: 50px!important;
    }
    .port-trans
    {
        top:0%!important;
        height: 60vh!important;
    }
    .lefter
    {
        float:left!important;
    }
    .main-text
    {
        font-size: 65px!important;
    }
    .team-text
    {
        padding-top:10%!important;
        font-size: 18px!important;
        padding-left: 10%!important;
        padding-right: 10%!important;
    }
    .media-year
    {
        left:28%!important;
        top:30%!important;
    }
    .first-block
    {
        height:130vh!important;
    }
    .mobile-trans
    {
        height: 130vh!important;
    }
    .nova-bg
    {
        background-image: url('/images/bgport.png');
    }
    .enesay-bg
    {
        background-image: url('/images/premoimob.jpg');
        background-size: cover;
    }
    .text-about
    {
        font-size:180%!important;
        text-align: center!important;
    }
    .text-foter
    {
        font-size: 30px!important;
    }
    .port
    {
        background-image: none!important;
        height: 950px!important;
    }
    .btn
    {
        text-align: center!important;
    }
    .tech
    {
        padding-left: 0px!important;
    }
    .bb
    {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .text-description
    {
        font-size: 20px!important;
    }
    .text-h2
    {
        font-size: 40px!important;
    }
    .tx-mos
    {
        font-size: 78px!important;
    }
}
@media only screen and (min-width:900px )and (max-width: 1100px) {
    /*.first-block*/
    /*{*/
        /*height:50vh!important;*/
    /*}*/
    .main-text
    {
        font-size:80px!important;
    }
    port-main-text
    {
        font-size:70px!important;
    }
    .moore-bt
    {
        left:34%!important;
    }
    .mobile-trans
    {
        height: 50vh!important;
    }
    .left-sidebar
    {
        margin-top:20vh!important;
    }
    .right-sidebar
    {
        top: 30vh !important;
    }
    .port
    {
        height:600px!important;
    }
    .sec{
        height: 600px!important;
    }
    .text-foter
    {
        font-size: 30px!important;
    }
}
@media only screen and (min-width:700px )and (max-width: 900px) {
    .moore-bt
    {
        left:30%!important;
    }
    .studios
    {
        padding-bottom:70%!important;
    }
    .right-sidebar
    {
        top: 34vh !important;
    }
    .left-sidebar
    {
        margin-top:20vh!important;
    }
    /*.first-block*/
    /*{*/
        /*height:60vh!important;*/
    /*}*/
    .text-foter
    {
        font-size: 30px!important;
    }
    .text-about
    {
        font-size: 50px!important;
    }
    .mobile-trans
    {
        height: 60vh!important;
    }
    .port
    {
        height:550px!important;
    }
    .main-text
    {
        font-size: 80px!important;
    }
    .port-main-text
    {
        font-size: 70px!important;
    }
}
/* КОНЕЦ Media */










/*  АНИМАЦИИ  */
@keyframes mobiletrans {
    0%{
        transform: translatex(0px);
    }
    35%
    {
        transform: translate(230px);
    }
    85%
    {
        transform: translate(-30px);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes trans {
    0%{
        transform: translatex(0px);
    }
    35%
    {
        transform: translate(190%);
    }
    85%
    {
        transform: translate(-40%);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes plus {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes plus {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* КОНЕЦ АНИМАЦИЙ */
img.vrashe {
  animation: 6s cubic-bezier(0.96, 0.06, 0.36, 0.87) 6s normal none infinite running vrashe;
  -webkit-animation: 6s cubic-bezier(0.96, 0.06, 0.36, 0.87) 6s normal none infinite running vrashe;

}
@keyframes vrashe {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes vrashe {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.glitch {
    color: white;
    font-size: 135px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

@keyframes noise-anim {
    0% {
        clip: rect(36px, 9999px, 69px, 0);
    }
    5% {
        clip: rect(82px, 9999px, 36px, 0);
    }
    10% {
        clip: rect(76px, 9999px, 64px, 0);
    }
    15% {
        clip: rect(55px, 9999px, 49px, 0);
    }
    20% {
        clip: rect(83px, 9999px, 15px, 0);
    }
    25% {
        clip: rect(29px, 9999px, 10px, 0);
    }
    30% {
        clip: rect(85px, 9999px, 65px, 0);
    }
    35% {
        clip: rect(82px, 9999px, 41px, 0);
    }
    40% {
        clip: rect(54px, 9999px, 6px, 0);
    }
    45% {
        clip: rect(8px, 9999px, 60px, 0);
    }
    50% {
        clip: rect(5px, 9999px, 20px, 0);
    }
    55% {
        clip: rect(96px, 9999px, 38px, 0);
    }
    60% {
        clip: rect(21px, 9999px, 11px, 0);
    }
    65% {
        clip: rect(76px, 9999px, 97px, 0);
    }
    70% {
        clip: rect(79px, 9999px, 52px, 0);
    }
    75% {
        clip: rect(79px, 9999px, 29px, 0);
    }
    80% {
        clip: rect(20px, 9999px, 91px, 0);
    }
    85% {
        clip: rect(14px, 9999px, 99px, 0);
    }
    90% {
        clip: rect(19px, 9999px, 92px, 0);
    }
    95% {
        clip: rect(42px, 9999px, 50px, 0);
    }
    100% {
        clip: rect(30px, 9999px, 100px, 0);
    }
}
.glitch:after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 2px;
    text-shadow: -1px 0 white;
    top: 0;
    color: white;
    background: #ffffff00;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(68px, 9999px, 34px, 0);
    }
    5% {
        clip: rect(44px, 9999px, 34px, 0);
    }
    10% {
        clip: rect(100px, 9999px, 33px, 0);
    }
    15% {
        clip: rect(3px, 9999px, 95px, 0);
    }
    20% {
        clip: rect(50px, 9999px, 59px, 0);
    }
    25% {
        clip: rect(58px, 9999px, 68px, 0);
    }
    30% {
        clip: rect(32px, 9999px, 1px, 0);
    }
    35% {
        clip: rect(45px, 9999px, 59px, 0);
    }
    40% {
        clip: rect(3px, 9999px, 18px, 0);
    }
    45% {
        clip: rect(34px, 9999px, 79px, 0);
    }
    50% {
        clip: rect(94px, 9999px, 78px, 0);
    }
    55% {
        clip: rect(51px, 9999px, 54px, 0);
    }
    60% {
        clip: rect(56px, 9999px, 47px, 0);
    }
    65% {
        clip: rect(23px, 9999px, 49px, 0);
    }
    70% {
        clip: rect(9px, 9999px, 21px, 0);
    }
    75% {
        clip: rect(23px, 9999px, 70px, 0);
    }
    80% {
        clip: rect(65px, 9999px, 75px, 0);
    }
    85% {
        clip: rect(4px, 9999px, 94px, 0);
    }
    90% {
        clip: rect(40px, 9999px, 91px, 0);
    }
    95% {
        clip: rect(7px, 9999px, 4px, 0);
    }
    100% {
        clip: rect(92px, 9999px, 31px, 0);
    }
}
.glitch:before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: #ffffff00;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.impumoo {
    color: #9003c5;
    width: 300px;
    border: 1px solid #38383885;
    border-radius: 100px;
    padding: 1.5%;
    text-align: center;
}
.impumoo2 {
    color: #9003c5;
    width: 235px;
    margin: 0;
    border: 1px solid #3838384f;
    border-radius: 100px;
    padding: 5.5%;
    text-align: center;

}
/*.p-5 {
        text-align: center;
}*/
.zog {
    color: red;
    font-size: 40px;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: 100;
}
.bttn {
    padding: 1%;
    border-radius: 100px;
    width: 300px;
    color: white;
    font-size: 20px;
    background: linear-gradient(45deg, #610092, #ad26f9);
}
.hover-mo:hover {
    color: white;
    background: transparent;
    transition: 1s;
    transform: rotate(360deg);
}
.text-white1 {
    color:white;
}
.item-m {
    transition: 0.5s;
        text-transform: uppercase;
            padding: 1%;
}
.item-m:hover {
    background: #683ea5;
    transition: 0.5s;
    border-radius: 100px;
    box-shadow: 0 0 70px 8px #781affab;
    padding: 1%;
}
.item-line {
    border-bottom: 1px solid #fefefe7a;
}
/*.item-a:hover {
    border-bottom: 1px solid #fefefe7a;
    padding-bottom: 10%;
    transition: 0.5s;
}*/
.item-min-a:hover {
    transition: 0.5s;
        left: 30px;
}
.moore-bt {
    color:#2b075f;
    transition: 2s;
}
.moore-bt:hover {
    color: white;
    background: #2b075f;
    box-shadow: 0px 4px 12px 4px #00000059;
}
.item-min-b:hover {
    background: #2b075f;
    
}
.tx-mo {
    color: white;
    font-size: 160px;
    line-height: 180px;
    font-family: "SF Pro Display Black";
}
.tx-mos {
    color: white;
    font-size: 88px;
    line-height: 88px;
    font-family: "SF Pro Display Black";
}
.port-mo:hover {
    box-shadow: 0 0 33px 0px #4c4c4c2e;
    filter: saturate(0);
}
.port-mo {
    transition: .3s ease-in-out;
}

.cta {
  background-color: #202020;
  height: 42px;
  border-radius: 100px;
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.34);
}
.cta span {
 color: #fff;
  display: block;
  padding-left: 35px;
  text-transform: uppercase;
  font: bold 18px/66px SF Pro Display light;
  transform: scaleX(0.6);
  letter-spacing: 3px;
  transform-origin: center left;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
      top: -11px;
}
.cta em {
  position: absolute;
  height: 1px;
  background: #fff;
  width: 47%;
  right: -141px;
  top: 50%;
  transform: scaleX(0.25);
  transform-origin: center right;
  transition: all 0.3s ease;
  z-index: 1;
}

.cta:after {
  content: '';
  border-radius: 0px 0px 100px 100px;
  background: #fff;
  height: 50%;
  width: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.cta:before {
  content: '';
  border-radius: 100px 100px 0 0px;
  background: #fff;
  height: 50%;
  width: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.cta:before {
  top: 0;
  left: 0;
  right: auto;
}
.cta:after {
  bottom: 0;
  right: 0;
  left: auto;
}
.cta:hover:before {
  width: 100%;
  right: 0;
  left: auto;
}
.cta:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.cta:hover span {
  color: #000;
}
.cta:hover em {
  background: #000;
  transform: scaleX(1);
}

.cta2 {		
	position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.cta2:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.cta2:hover {
	color: var(--def);
	transition-delay: .6s;
}

.cta2:hover:before {
	transition-delay: 0s;
}

.cta2:hover:after {
	background: var(--inv);
	transition-delay: .4s;
}

/* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}
.ab-o {
    padding-top: 6%;
    padding-bottom: 6%;
}
.h-70mo{
    padding-top:6%;
}
.opis-r{
    position: relative;
    display: inline-block;
    font-family: roboto_condensedbold,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #121212;
    transform: translate3d(0,-40px,0);
    overflow: hidden;
}
/*video*/
#container {
  overflow: hidden;
  height: 600px;
  background: #edeae8;
  position: relative;
}
 
video {
  position: absolute;
   
  /* Vertical and Horizontal center*/
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
.over-bgm {
    position: absolute;
    z-index: 1;
    background: repeating-linear-gradient(45deg, #000000, #1c023f00 100px);
    width: 100%;
    height: 100%;
}
.paddm-4 {
        padding-bottom: 4%;
}

img.avrashe {
  animation: 6s cubic-bezier(0.96, 0.06, 0.36, 0.87) 6s normal none infinite running avrashe;
  -webkit-animation: 6s cubic-bezier(0.96, 0.06, 0.36, 0.87) 6s normal none infinite running avrashe;

}
@keyframes avrashe {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes avrashe {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*ppoop*/
:root {
  --size: 240px;
  --speed: 10s;
}

.loader {
  width: var(--size);
  height: var(--size);
      position: relative;
    left: 40%;
}

.loader__inner {
  position: absolute;
  display: block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
    box-shadow: 0 -10px 50px 0 rgb(26, 2, 60), -7.5px 5px 0 0 rgba(44, 14, 103, 1), 7.5px 5px 0px 0 rgb(17, 12, 25);
  animation: rotate var(--speed) linear infinite;
}
.loader__inner:nth-child(2) {
  box-shadow: 
    7.5px -5px 0 0 rgba(49,27,146, .6),
    -7.5px -5px 0 0 rgba(81,45,168, .6),
    0 10px 0 0 rgba(103,58,183, .6);
  animation: rotate__other var(--speed) linear infinite;
}
@keyframes rotate {
  50% {
    transform: scale(1.4) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}

@keyframes rotate__other {
  50% {
    transform: scale(1.5) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(-720deg);
  }
}
.p-5nmo {
        padding: 1rem!important;
}
.bag-form {
    color: white;
    background: linear-gradient(45deg, #683ea5, #a26def);
    box-shadow: 0 0 50px 0px #b5b5b5;
        text-align: center;
        padding-top: 5%;
            padding-bottom: 5%;
}
.bag-form2 {
    /*color: white;
    box-shadow: 0 0 50px 0px #b5b5b5;*/
        text-align: center;
        padding-top: 5%;
            padding-bottom: 5%;
    border: 1px solid #683ea540;
}
.p-3-m {
        padding: 0.2rem!important;
}
.bt-f-h {
    color: #212529;
    width: 210px;
    border: 1px solid #683EA7;
    background: white;
    margin-top: 7%;
    border-radius: 100px;
    box-shadow: 0 0 40px 0px #a7a7a799;
    padding: 4%;
    position: relative;
    left: 31px;
    margin-bottom: 12%;
        transition: 1s;
}
.bt-f-h:hover {
    color: #212529;
    width: 210px;
    border: 1px solid #683ea500;
    margin-top: 7%;
    border-radius: 100px;
    box-shadow: 0 0 50px 2px #a7a7a799;
    padding: 4%;
    position: relative;
    left: 31px;
    margin-bottom: 12%;
}
.zog-m {
    font-size:40px;
}
.con-ta {
    font-size:17px;
    padding: 3%;
}
.con-ta1 {
    font-size:20px;
    padding: 0%;
}
@media only screen and (max-width: 700px) {
    .for-flu {
        width:150px;
    }
    .bt-f-h {
            left: 0px;
            width:185px;
    }
    .li-h-m {
        line-height: 61px!important;
    }
    .lod-q {
            font-size: 150px;
    line-height: 150px;
    }
    .eff-mo-q {
        padding-top: 16%;
        padding-bottom: 16%;
    }
    .loader {
            left: 14%;
    }
}
.soc-mo{
        padding-bottom: 0rem!important;
}
.shud-mo {
    box-shadow: 0 0 50px 0px #000000ad!important;
}
.menuse.solid-nav {
        box-shadow: 0 0 50px 0px #000000d1!important;
}
.bag-mo-j {
    background: black;
    width:100%;
        box-shadow: 0 0 50px 0px #6b6b6b96;
}
.color-mo {
    color: white;
    padding: 4%;
}
.pad-mo-4{
    margin-top: 5%;
}

/*glitch*/


.t1:hover {
    -moz-animation: shift 4s ease-in-out infinite alternate;
  -webkit-animation: shift 4s ease-in-out infinite alternate;
  animation: shift 1s ease-in-out infinite alternate;
}
.t1 {
  font-family: "SF Pro Display Light";
  text-align: center;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  padding: 8%;
  margin-left: -15px;
  color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-shadow: 0px 0px 0px #fff, 5px 5px 2px #561ca9, -5px -2px 2px #390b7d;
  font-weight: 400;
  -moz-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}

@-moz-keyframes shift {
  0%,40%, 44%, 58%, 61%, 65%,69%,73%,100% {
    -moz-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  41% {
    -moz-transform: skewX(40deg);
    transform: skewX(10deg);
  }
  42% {
    -moz-transform: skewX(-10deg);
    transform: skewX(-10deg);
  }
  59% {
    -moz-transform: skewX(40deg) skewY(10deg);
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    -moz-transform: skewX(-40deg) skewY(-10deg);
    transform: skewX(-40deg) skewY(-80deg);
  }
  63% {
    -moz-transform: skewX(10deg) skewY(-5deg);
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    -moz-transform: skewX(-50deg) skewY(-20deg);
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    -moz-transform: skewX(10deg) skewY(-10deg);
    transform: skewX(10deg) skewY(-10deg);
  }
}
@-webkit-keyframes shift {
  0%,40%, 44%, 58%, 61%, 65%,69%,73%,100% {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  41% {
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
  }
  42% {
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
  }
  59% {
    -webkit-transform: skewX(40deg) skewY(10deg);
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    -webkit-transform: skewX(-40deg) skewY(-10deg);
    transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    -webkit-transform: skewX(10deg) skewY(-5deg);
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    -webkit-transform: skewX(-50deg) skewY(-20deg);
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    -webkit-transform: skewX(10deg) skewY(-10deg);
    transform: skewX(10deg) skewY(-10deg);
  }
}
@keyframes shift {
  0%,40%, 44%, 58%, 61%, 65%,69%,73%,100% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  41% {
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
  }
  42% {
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
  }
  59% {
    -moz-transform: skewX(40deg) skewY(10deg);
    -ms-transform: skewX(40deg) skewY(10deg);
    -webkit-transform: skewX(40deg) skewY(10deg);
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    -moz-transform: skewX(-40deg) skewY(-10deg);
    -ms-transform: skewX(-40deg) skewY(-10deg);
    -webkit-transform: skewX(-40deg) skewY(-10deg);
    transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    -moz-transform: skewX(10deg) skewY(-5deg);
    -ms-transform: skewX(10deg) skewY(-5deg);
    -webkit-transform: skewX(10deg) skewY(-5deg);
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    -moz-transform: skewX(-50deg) skewY(-20deg);
    -ms-transform: skewX(-50deg) skewY(-20deg);
    -webkit-transform: skewX(-50deg) skewY(-20deg);
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    -moz-transform: skewX(10deg) skewY(-10deg);
    -ms-transform: skewX(10deg) skewY(-10deg);
    -webkit-transform: skewX(10deg) skewY(-10deg);
    transform: skewX(10deg) skewY(-10deg);
  }
}
/*woooow*/

.oli {
  position: absolute;
  left: 50%;
  top: 220px;
  bottom: 50%;
  width: 70px;
  height: 40px;
  margin-left: -35px;
  border-radius: 50px 50px 10px 10px;
  background-color: #fff;
  box-shadow: 0px 0px 40px 4px #fff, 0px 0px 0px 2px rgba(255, 255, 255, 0.19) inset;
  -moz-animation: oli 1.5s forwards infinite ease-in-out;
  -webkit-animation: oli 1.5s forwards infinite ease-in-out;
  animation: oli 1.5s forwards infinite ease-in-out;
    transition: 0.5s;
}
.mo-color
{
    background-color: rgba(104, 62, 165, 0.63);
    box-shadow: 0px 0px 40px 4px #df1eff, 0px 0px 0px 2px rgba(255, 39, 236, 0.19) inset;
}
.mo-ears
{
    background-color: #fff!important;
}
.ears {
  position: absolute;
  left: 50%;
  top: 10px;
  bottom: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-radius: 50%;
  background-color: #6c2ec787;
  -moz-animation: ears 1.5s forwards infinite ease-in-out;
  -webkit-animation: ears 1.5s forwards infinite ease-in-out;
  animation: ears 1.5s forwards infinite ease-in-out;
    transition: 0.5s;
}

.shadow1 {
  position: absolute;
  left: 50%;
  top: 240px;
  bottom: 50%;
  height: 10px;
  width: 50px;
  margin-left: -25px;
  border-radius: 50px;
  background-color: #9013fe;
  -moz-animation: box1 1.5s forwards infinite ease-in-out;
  -webkit-animation: box1 1.5s forwards infinite ease-in-out;
  animation: box1 1.5s forwards infinite ease-in-out;
}
.shadow1:after {
  content: "";
  position: absolute;
  left: -20%;
  bottom: -30px;
  height: 30px;
  width: 140%;
  background-color: #030c2f;
}
.shadow1 .itemz {
  position: absolute;
  left: 40px;
  bottom: 0;
  height: 3px;
  width: 3px;
  background-color: #9013fe;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 1px #9013fe, 0px 0px 0px 2px rgba(255, 255, 255, 0.19) inset;
  opacity: 0;
}
.shadow1 .itemz:nth-child(1) {
  -moz-animation: itemz1 1.5s forwards infinite ease-in-out;
  -webkit-animation: itemz1 1.5s forwards infinite ease-in-out;
  animation: itemz1 1.5s forwards infinite ease-in-out;
}
.shadow1 .itemz:nth-child(2) {
  height: 4px;
  width: 4px;
  -moz-animation: itemz2 1.5s forwards infinite ease-in-out;
  -webkit-animation: itemz2 1.5s forwards infinite ease-in-out;
  animation: itemz2 1.5s forwards infinite ease-in-out;
}
.shadow1 .itemz:nth-child(3) {
  -moz-animation: itemz3 1.5s forwards infinite ease-in-out;
  -webkit-animation: itemz3 1.5s forwards infinite ease-in-out;
  animation: itemz3 1.5s forwards infinite ease-in-out;
}

@-webkit-keyframes itemz1 {
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    left: 90px;
    bottom: 30px;
  }
  90% {
    opacity: 0;
    left: 120px;
    bottom: 40px;
  }
}
@-moz-keyframes itemz1 {
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    left: 90px;
    bottom: 30px;
  }
  90% {
    opacity: 0;
    left: 120px;
    bottom: 40px;
  }
}
@keyframes itemz1 {
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    left: 90px;
    bottom: 30px;
  }
  90% {
    opacity: 0;
    left: 120px;
    bottom: 40px;
  }
}
@-webkit-keyframes itemz2 {
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    left: 60px;
    bottom: 50px;
  }
  90% {
    opacity: 0;
    left: 120px;
    bottom: 40px;
  }
}
@-moz-keyframes itemz2 {
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    left: 60px;
    bottom: 50px;
  }
  90% {
    opacity: 0;
    left: 120px;
    bottom: 40px;
  }
}
@keyframes itemz2 {
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    left: 60px;
    bottom: 50px;
  }
  90% {
    opacity: 0;
    left: 120px;
    bottom: 40px;
  }
}
@-webkit-keyframes itemz3 {
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    left: 10px;
    bottom: 20px;
  }
  90% {
    opacity: 0;
    left: -20px;
    bottom: 40px;
  }
}
@-moz-keyframes itemz3 {
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    left: 10px;
    bottom: 20px;
  }
  90% {
    opacity: 0;
    left: -20px;
    bottom: 40px;
  }
}
@keyframes itemz3 {
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.3;
    left: 10px;
    bottom: 20px;
  }
  90% {
    opacity: 0;
    left: -20px;
    bottom: 40px;
  }
}
@-webkit-keyframes ears {
    30%
    {
        top:20px;
        left:70%;
    }
  60% {
    top: 20px;
      left:20%;
  }
}
@-moz-keyframes ears {
    30%
    {
        top:20px;
        left:70%;
    }
  60% {
    top: 20px;
      left:20%;
  }
}
@keyframes ears {
    30%
    {
        top:20px;
        left:70%;
    }
  60% {
    top: 20px;
      left:20%;
  }
}
@-webkit-keyframes box1 {
  0% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    border-radius: 50px 50px 0 0;
  }
  20% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    border-radius: 50px 50px 5px 5px;
  }
  50% {
    top: 240px;
    height: 30px;
    width: 80px;
    margin-left: -40px;
    border-radius: 5px;
  }
  65% {
    top: 240px;
    height: 30px;
    width: 80px;
    margin-left: -40px;
  }
  76% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
  }
  100% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    border-radius: 50px 50px 5px 5px;
  }
}
@-moz-keyframes box1 {
  0% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    border-radius: 50px 50px 0 0;
  }
  20% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    border-radius: 50px 50px 5px 5px;
  }
  50% {
    top: 240px;
    height: 30px;
    width: 80px;
    margin-left: -40px;
    border-radius: 5px;
  }
  65% {
    top: 240px;
    height: 30px;
    width: 80px;
    margin-left: -40px;
  }
  76% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
  }
  100% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    border-radius: 50px 50px 5px 5px;
  }
}
@keyframes box1 {
  0% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    border-radius: 50px 50px 0 0;
  }
  20% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    border-radius: 50px 50px 5px 5px;
  }
  50% {
    top: 240px;
    height: 30px;
    width: 80px;
    margin-left: -40px;
    border-radius: 5px;
  }
  65% {
    top: 240px;
    height: 30px;
    width: 80px;
    margin-left: -40px;
  }
  76% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
  }
  100% {
    top: 260px;
    height: 10px;
    width: 100px;
    margin-left: -50px;
    border-radius: 50px 50px 5px 5px;
  }
}
@-webkit-keyframes oli {
  0% {
    height: 40px;
    border-radius: 50px 50px 10px 10px;
    top: 220px;
  }
  20% {
    height: 70px;
  }
  50% {
    height: 70px;
    border-radius: 50px 50px;
    top: 50px;
  }
  65% {
    height: 40px;
    border-radius: 50px 50px 30px 30px;
    top: 220px;
  }
  85% {
    height: 40px;
    border-radius: 50px 50px 10px 10px;
    top: 220px;
  }
}
@-moz-keyframes oli {
  0% {
    height: 40px;
    border-radius: 50px 50px 10px 10px;
    top: 220px;
  }
  20% {
    height: 70px;
  }
  50% {
    height: 70px;
    border-radius: 50px 50px;
    top: 50px;
  }
  65% {
    height: 40px;
    border-radius: 50px 50px 30px 30px;
    top: 220px;
  }
  85% {
    height: 40px;
    border-radius: 50px 50px 10px 10px;
    top: 220px;
  }
}
@keyframes oli {
  0% {
    height: 40px;
    border-radius: 50px 50px 10px 10px;
    top: 220px;
  }
  20% {
    height: 70px;
  }
  50% {
    height: 70px;
    border-radius: 50px 50px;
    top: 50px;
  }
  65% {
    height: 40px;
    border-radius: 50px 50px 30px 30px;
    top: 220px;
  }
  85% {
    height: 40px;
    border-radius: 50px 50px 10px 10px;
    top: 220px;
  }
}
.rabbit {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}
/*button style*/

button {
  font-family: 'Space Mono', monospace;
  letter-spacing: 1px;
  background: none;
  color: white;
  position: relative;
  outline: none;
  border: none;
  height: 50px;
  width: 220px;
  font-size: 14px;
  z-index: 2;
  transition: .01s .23s ease-out all;
  overflow: hidden;
}
button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 55%;
  background: #202020;
  box-shadow: 20px 1px 50px #7f29ff;
  z-index: -1;
  transition: .3s ease-in all;
}
button:after {
  content: '';
  position: absolute;
  left: -5%;
  top: 5%;
  height: 90%;
  width: 5%;
  background: white;
  z-index: -1;
  transition: .4s .02s ease-in all;
}
button:hover {
  cursor: pointer;
  color: transparent;
}
button:hover:before {
  left: 100%;
  width: 25%;
}
button:hover:after {
  left: 100%;
  width: 70%;
}
button:hover .icon-right.after:after {
  left: -80px;
  color: white;
  transition: .2s .2s ease all;
}
button:hover .icon-right.after:before {
  left: -104px;
  top: 14px;
  opacity: 0.2;
  color: white;
}

.icon-right {
  position: absolute;
  top: 0;
  right: 0;
}
.icon-right:after {
  font-family: "FontAwesome";
  content: '\2192';
  font-size: 24px;
  display: inline-block;
  position: relative;
  top: 26px;
  -webkit-transform: translate3D(0, -50%, 0);
          transform: translate3D(0, -50%, 0);
}
.icon-right.after:after {
  left: -250px;
  color: black;
  transition: .15s .25s ease left, .5s .05s ease color;
}
.icon-right.after:before {
  content: 'WATCH';
  position: absolute;
  left: -104px;
  font-size: 20px;
  top: 25px;
  opacity: 0;
  transition: .2s ease-in all;
}

.signature {
  position: fixed;
  font-family: sans-serif;
  font-weight: 100;
  bottom: 10px;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100vw;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.hrs:hover:before {
    transition: 1s;
    width: 100px;
}
.hrs {
    display: inline-block;
    position: relative;
    top: -3px;
    left: 10px;
    transition: 1s;
    z-index: 1;
}
.hrs::before {
    content: '';
    top: 8px;
    left: 110%;
    border-radius: 100px;
    z-index: -1;
    display: inline-block;
    background: #683ea5;
    position: absolute;
    width: 20px;
        height: 5px;
    transition: 1s;
}
.pulseDot {
  width: 100px;
  height: 100px;
  position: absolute;
    left: -59px;
    top: -41px;
  z-index: 1;
  transition: all .6s;
}
.pulseDot:after, .pulseDot:before {
    border: 3px solid #9043ff;
    box-shadow: 0 0 50px 0px #ae79ff;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.pulseDot:after {
  animation: pulse 2s ease-out infinite;
}
.pulseDot:before {
  animation: pulse 2s .5s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/*menu animation*/

a.button1 {
  position: relative;
  display: inline-block;
  width: 25.6em;
  height: 6.3em;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  line-height: 3em;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
a.button1 svg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
a.button1 svg g line,
a.button1 svg g polyline,
a.button1 svg g circle {
  fill: none;
  stroke: #fff;
}
a.button1 svg g line,
a.button1 svg g polyline {
  stroke-miterlimit: 10;
}
a.button1 svg g circle {
  display: block;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.066em;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset ease-out 0.5s;
}
a.button1 font {
    z-index: 999;
    color: white;
    position: relative;
    top: -5px;
    left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.0em;
}
a.button1:hover {
  -webkit-transform: translateZ(0) translateX(0.5em);
          transform: translateZ(0) translateX(0.5em);
}
a.button1:hover svg g circle {
  stroke-dashoffset: 200;
}

/*menu 2*/
.lin-mo {
  margin: 0;
  position: relative;
}
.lin-mo a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
    font-size: 13px;
    text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #683ea5, #b37bff 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}
/*.lin-mo a:before {
  display: block;
  content: '';
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: #23abd4;
  transition: all 0.3s ease-in-out;
}*/
.lin-mo a:hover {
  background-position: 0%;
}
.lin-mo a:hover .line-b-moo {
  width: 100%;
}
.lin-mo a:hover:before {
  width: 100%;
}
.line-b-mo {
    margin-top: 7px;
    justify-content: center;
}
.line-b-moo {
    border: 2px solid #683ea5;
    border-radius: 100px;
    width: 25px;
    color:red;
        transition: all 0.3s ease-in-out;
}
.tex-port {
        position: absolute;
    bottom: 60px;
    z-index: 1;
    padding: 3%;
    background: #683ea5;
    text-decoration: none;
    color: white;
}